In [12]:
import torch 
import pandas as np
import pandas as pd

In [14]:
from spark_pppprocessing import stop_spark, load_and_preprocess_data

In [15]:
df = pd.read_csv('data/btcusd_1-min_data.csv')

In [16]:
df.head()

      Timestamp  Open  High   Low  Close  Volume
0  1.325412e+09  4.58  4.58  4.58   4.58     0.0
1  1.325412e+09  4.58  4.58  4.58   4.58     0.0
2  1.325412e+09  4.58  4.58  4.58   4.58     0.0
3  1.325412e+09  4.58  4.58  4.58   4.58     0.0
4  1.325412e+09  4.58  4.58  4.58   4.58     0.0

In [17]:
df_preprocessed = load_and_preprocess_data('data/btcusd_1-min_data.csv')

In [6]:
df_preprocessed.show()

+-------------------+--------------------+
|           datetime|      scaledFeatures|
+-------------------+--------------------+
|2012-01-01 05:01:00|[-0.7298777848017...|
|2012-01-01 05:02:00|[-0.7298777848017...|
|2012-01-01 05:03:00|[-0.7298777848017...|
|2012-01-01 05:04:00|[-0.7298777848017...|
|2012-01-01 05:05:00|[-0.7298777848017...|
|2012-01-01 05:06:00|[-0.7298777848017...|
|2012-01-01 05:07:00|[-0.7298777848017...|
|2012-01-01 05:08:00|[-0.7298777848017...|
|2012-01-01 05:09:00|[-0.7298777848017...|
|2012-01-01 05:10:00|[-0.7298777848017...|
|2012-01-01 05:11:00|[-0.7298777848017...|
|2012-01-01 05:12:00|[-0.7298777848017...|
|2012-01-01 05:13:00|[-0.7298777848017...|
|2012-01-01 05:14:00|[-0.7298777848017...|
|2012-01-01 05:15:00|[-0.7298777848017...|
|2012-01-01 05:16:00|[-0.7298777848017...|
|2012-01-01 05:17:00|[-0.7298777848017...|
|2012-01-01 05:18:00|[-0.7298777848017...|
|2012-01-01 05:19:00|[-0.7298777848017...|
|2012-01-01 05:20:00|[-0.7298777848017...|
+-------------------+--------------------+
only showing top 20 rows

In [18]:
stop_spark()